# Content
- Data cleaning
    - mixed data
    - duplicates
    - null values

In [1]:
# import lybaries 
import pandas as pd
import numpy as np
import os

In [2]:
# import data
path = r'/Users/lennartzeidler/Desktop/Uni/(6) Advances Analytics and Dashboard Design/Netflix movies analysis'
df_Netflix_movies = pd.read_csv(os.path.join(path, '02 Data','Original Data', 'netflix_titles.csv'))

In [3]:
# check for mixed types
for col in df_Netflix_movies.columns.tolist():
  weird = (df_Netflix_movies[[col]].applymap(type) != df_Netflix_movies[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_Netflix_movies[weird]) > 0:
    print (col, len (df_Netflix_movies[weird]))

director 2634
cast 7982
country 831
date_added 10
rating 4
duration 3

The result is typical, the reason for the mixed data types are null values, eather the null values are the 'weird' values or the other data was marked as 'weird' data format. Knowing this, I can just change the data types to something consisten.  
I don't want to change the dtype of those columns, because othersiwe it gets harder to find the null values.

In [6]:
# finding duplicates

df_dups = df_Netflix_movies[df_Netflix_movies.duplicated()]
df_dups

Empty DataFrame
Columns: [show_id, type, title, director, cast, country, date_added, release_year, rating, duration, listed_in, description]
Index: []

no duplicates were found

In [7]:
# finding null values
df_Netflix_movies.isnull().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64

I won't do anything about those missing values, since there is no pattern for them and I might be able to use data from a column wich containes one missing value. When using with Tableu later on, they don't matter anymore anyway, because Tableu filters those out. Since this is only my own project I don't have to report those values to anone and should just be aware of them.